body {
    background-color: #F3F3F3;
    margin: 0;
}

code, kbd, pre, samp {
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}
#breadcrumb {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left :8px;
    padding-right :8px;
    background-color: #EEE;
}
#side-menu {
    float: left;
    width: 260px;
    padding-top: 30px;
    background-color: #EEE;
}
#side-menu-attention {
  margin: 10px;
  font-size: 80%;
}
#side-menu-ls {
  margin: 10px;
  font-size: 80%;
}
#side-menu-ls ul {
  padding-left: 16px;
}
#side-menu-ls li {
  list-style-type: circle;
}
#side-menu-ls > ul {
  padding-left: 0;
}
#side-menu-ls > ul > li {
  list-style-type: none;
}
#content {
  margin: 0 40px 0px 280px;
  border-bottom: 1px solid #CCC;
  box-shadow: 0 1px 0 #FFF;
  word-wrap: break-word;
}
#content h1 {
  margin: 30px 0 20px 0;
  border-bottom: 1px solid #CCC;
  box-shadow: 0 1px 0 #FFF;
  padding-bottom: 4px;
  font-size: 24px;
  text-shadow: -1px 1px 0 #CCC;
}
#content h2 {
  margin: 30px 0 20px 0;
  border-bottom: 1px #CCC solid;
  box-shadow: 0 1px 0 #FFF;
  padding-bottom: 2px;
  font-size: 20px;
}
#content h3 {
  margin: 30px 0 20px 0;
  font-size: 16px;
}
#content h4 {
  margin: 20px 0 20px 40px;
  font-size: 16px;
}
#content .article-date {
  font-weight: normal;
  font-size: 12px;
  color: #666;
}
#content .article-date:after {
    content: "更新";
}

#content p,
#content ul,
#content dl {
  margin: 20px 0 20px 40px;
}
#content ul {
  padding-left: 2em
}
#content pre {
  margin: 20px 0 20px 60px;
  border: 1px #CCC solid;
  padding: 4px;
}
#content blockquote {
  margin: 20px 0 20px 60px;
  border-left: 2px #CCC solid;
  padding-left: 8px;
}
#content table {
  border-collapse: collapse;
}
#content table th,
#content table td {
  border: 1px #999 solid;
  padding: 4px;
}
footer {
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 10px;
  text-align: right;
  font-size: 80%;
}
